Dockerfile
.dockerignore
docker-compose.yml
update-deployment.sh
LICENSE
README.md
node_modules
npm-debug.log
README.md
.env.example
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
.next
.vercel
*.tsbuildinfo
test-results
playwright-report
tests
.github
.vscode
.idea
